name: books
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  dio: ^4.0.6
  flutter_modular: ^4.5.1+1
  dio_cache_interceptor: ^3.2.6
  dio_http_formatter: ^2.1.0
  flutter_secure_storage: ^5.0.2
  flutter_screenutil: ^5.3.1
  sembast: ^3.2.0
  path_provider: ^2.0.9

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:


  uses-material-design: true

